// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: grey;
  box-shadow: 10px;
}

.flex-container {
  display: flex;

}



